# vs2022
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.lastbuildstate
*.exe.recipe
*.ilk
*.log
*.pdb
*.vcxproj.FileListAbsolute.txt
*.idb
*.ipch
*.VC.db
*.suo
*.lock
*




# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
